@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
	width: 100%;
	@include respond-to('tablet') {
		width: 90vw;
	}
	@include respond-to('desktop') {
		width: 50rem;
	}
}