@use '@/styles/abstracts/variables' as *;

.carousel {
  width: 100%;

  &__badge {
    left: 1rem;
    position: absolute;
    top: 1rem;
  }

  &__pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  &__bullet {
    background-color: $tertiary-color;
    border-radius: 50%;
    height: 0.4rem;
    transition: background-color 0.3s;
    width: 0.4rem;
  }

  &__bullet_active {
    background-color: $primary-color;
  }
}

.swiper {
  height: 14.85rem;
}
