@use '@/styles/abstracts/variables' as *;

.carousel {
  width: 100%;
  max-width: 800px;
  margin: 0.5rem auto;
}

.swiper {
	width: 100%;
	height: 16.75rem;
}

.bulletActiveColor {
  background-color: #00f;
}

.bulletColor {
  background-color: $tertiary-color;
}

.card {
  width: 100%;
  height: 14rem;
}

.card__image {
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.card__bottom {
  padding: 0.5rem;
  background-color: white;
  text-align: center;
}

.card__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__linkButton {
  font-size: 0.8rem;
  width: 5.5rem;
}

.card__title {
  margin: 0 0.5rem 0 0;
  font-size: 1rem;
  color: $text-color-dark;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__content {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 1rem 0;
  font-size: 0.75rem;
  color: $text-color-gray;
}

.carousel__badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
}