@use '@/styles/abstracts/variables' as *;

.primary {
  background-color: $primary-color;
  border: none;
  border-radius: 2rem;
  color: $text-color-light;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.secondary {
  background-color: $secondary-color;
  border: none;
  border-radius: 2rem;
  color: $text-color-dark;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.disabled {
  background-color: $tertiary-color;
  border: none;
  border-radius: 2rem;
  color: $text-color-gray;
  cursor: not-allowed;
  padding: 0.5rem 1rem;
}

.outline {
  background-color: transparent;
  border: 1px solid $primary-color;
  border-radius: 2rem;
  color: $primary-color;
  cursor: pointer;
  padding: 0.125rem 0.875rem;
}

.ghost {
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  color: $foreground-light;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.rounded {
  align-items: center;
  background-color: $primary-color;
  border: none;
  border-radius: 50%;
  color: $text-color-light;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 0.5rem;
  width: 3rem;
}
