@use '@/styles/abstracts/variables' as *;

.footer {
  background-color: $primary-color;
  color: $text-color-light;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
} 