@use '@/styles/abstracts/variables' as *;

.footer {
  align-items: center;
  background-color: $primary-color;
  bottom: 0;
  color: $text-color-light;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
