@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

.navContainer {
  background-color: $secondary-color;
  overflow: hidden;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navItem {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  white-space: nowrap;

  &.active {
    color: $text-color-light;
    font-weight: 700;
  }
}

@include respond-to('tablet') {
  .navContainer {
    padding: 0.5rem 1rem;
  }
  .navItem {
    font-size: 1.25rem;
  }
}

@include respond-to('desktop') {
  .navContainer {
    padding: 0.5rem 1rem;
  }
  .navItem {
    font-size: 1.5rem;
  }
}
