* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
} 