@use '../abstracts/variables' as *;

@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');

body {
  font-family: 'NanumSquareBold', sans-serif;
  font-size: $font-size-medium;
  color: $text-color-dark;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
}